<!DOCTYPE html>
<html>

<% include layouts/head.ejs %>

<body>
  <header>
      <% include layouts/nav.ejs%>
  </header>
  <main>
    <%- body %>
  </main>
  <% include layouts/bootstrap.ejs%>
</html>