@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

body {
    color: white;
    font-family: 'Open Sans', serif;
    background: rgb(13, 0.0, 26);
}

/*
=====================================
    Flex Containers
=====================================
*/
.dashboard-flex {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
}

/*
=====================================
    Canvas
=====================================
*/

.render-container {
    position: relative;
}

.canvas2d {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

/*
=====================================
    Legend
=====================================
*/
.legend-container {
    flex: 1;
    background: #05668D;
    overflow: auto; 
    border-right: solid white;
}

.time {
    margin-top: 10px;
    width: 75%;
    margin: auto;
    border-top: solid white;
    border-bottom: solid white;
    padding: 20px;
}

.time p:first-child {
    font-size: 165%;
}

.time p:last-child {
    font-size: 250%;
}

.legend {
    width: 95%;
    margin: auto;
    margin-top: 1%;
}

table {
    width: 65%;
    margin: auto;
    border-bottom: solid white;
}

th {
    border-bottom: solid white;
    text-align: center;
}

th,
td {
    padding: 5px;
    margin: 15px;
}

table .colour {
    background: red;
    border: solid white;
}


/*
=====================================
    commercials
=====================================
*/
.commercials-container {
    flex: 1;
    
    overflow: hidden;
    border-top: solid white;
    display: flex;
    background: #128191;
}


.commercials-container .commercial {
    /*A hack to force css to use the GPU for smoother animation*/
    transform: translateZ(0);
    will-change: transform;

    padding: 5px;
    min-width: 25%;
    max-width: 25%;
    border-right: solid white;
}

.commercials-container .commercial .inner-commercial {
    width: 95%;
    margin: auto;
}

/*
=====================================
    General classes
=====================================
*/
.title {
    font-size: 3em;
    text-align: center;
}
.center {
    text-align: center;
}

.left {
    text-align: left;
}

@media screen and (max-width: 1500px) {
    .time p:first-child {
        font-size: 145%;
    }
    
    .time p:last-child {
        font-size: 230%;
    }

    .title {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1370px) {
    .time p:first-child {
        font-size: 80%;
    }
    
    .time p:last-child {
        font-size: 200%;
    }

    .title {
        font-size: 1.7em;
    }

    table {
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .commercials-container .commercial .inner-commercial {
        width: 98%;
    }
    .inner-commercial h1 {
        font-size: 140%;
    }
    .inner-commercial h2 {
        font-size: 130%;
    }

    .inner-commercial p {
        font-size: 85%;
    }
}