@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', serif;
}

/*
=====================================
    Flex Containers
=====================================
*/
.dashboard-flex {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
}

/*
=====================================
    Canvas
=====================================
*/

.render-container {
    position: relative;
}

.canvas2d {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

/*
=====================================
    Announcements
=====================================
*/
.announcement-container {
    flex: 1;
    background: #05668D;
    overflow: auto; 
    border-left: solid white;
}

/*
=====================================
    Adverts
=====================================
*/
.adverts-container {
    flex: 1;
    background: #028090;
    overflow: auto;
    border-top: solid white;
}
