@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

body {
    color: white;
    font-family: 'Open Sans', serif;
    background: rgb(13, 0.0, 26);
}

/*
=====================================
    Flex Containers
=====================================
*/
.dashboard-flex {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
}

/*
=====================================
    Canvas
=====================================
*/

.render-container {
    position: relative;
}

.canvas2d {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

/*
=====================================
    Announcements
=====================================
*/
.announcement-container {
    flex: 1;
    background: #05668D;
    overflow: auto; 
    border-right: solid white;
}

.time {
    margin-top: 10px;
    width: 75%;
    margin: auto;
    border-top: solid white;
    border-bottom: solid white;
    padding: 20px;
}

.time p:first-child {
    font-size: 165%;
}

.time p:last-child {
    font-size: 250%;
}

/*
=====================================
    commercials. Has to be "commercial" because of adblock
=====================================
*/
.commercials-container {
    flex: 1;
    
    overflow: hidden;
    border-top: solid white;
    display: flex;
    background: #128191;
}


.commercials-container .commercial {
    /*A hack to force css to use the GPU for smoother animation*/
    transform: translateZ(0);
    will-change: transform;

    padding: 5px;
    min-width: 25%;
    max-width: 25%;
    border-right: solid white;
}

.commercials-container .commercial .inner-commercial {
    width: 75%;
    margin: auto;
}

/*
.commercials-container .commercial-title {

}

.commercials-container .commercial-body {
    
}
*/

/*
=====================================
    General classes
=====================================
*/
.title {
    font-size: 3em;
    text-align: center;
}

/*
=====================================
    General classes
=====================================
*/

.center {
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .time p:first-child {
        font-size: 145%;
    }
    
    .time p:last-child {
        font-size: 230%;
    }

    .title {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1370px) {
    .time p:first-child {
        font-size: 80%;
    }
    
    .time p:last-child {
        font-size: 200%;
    }

    .title {
        font-size: 1.7em;
    }
}