@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

/*
=======================
   Element Selectors
=======================
*/

body {
    background-color: rgba(182, 216, 224, 0.933);
    color: black;
    font-family: 'Open Sans', serif;
}

/*
=====================================
    Header selectors and classes
=====================================
*/
header {
    width: 100%;
    background-color: rgb(14, 64, 87);
    color: white;
    border-bottom: solid white;
}

header .header-container {
    width: 90%;
    padding: 5px;
    margin: auto;
}

/*
=====================================
    Main selectors and classes
=====================================
*/
main {
    background-color: rgb(88, 135, 189);
    height: 100%;
    display: flex;
}

main nav {
    background-color: rgb(81, 142, 223);
    padding: 2px;
    border-right: solid white;
}



main nav .nav-button {
    width: 90%;
    margin: auto;
}

main nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: 1s;
    font-size: 110%;
}

main nav a:hover {
    background-color: rgb(21, 67, 128);
}

/*
===================
  General classes
===================
*/

.input-canvas {
    border: solid white;
    margin: 10px;
}

.centered {
    width: 50%;
    margin: auto;

}

.rounded-box {
    padding: 10%;
    border: solid black 2px;
    border-radius: 25px;
}