.main-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.main-menu-button {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.main-menu-button:hover {
    color: blue;
}

@media screen and (max-width: 600px) {
    .main-menu-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .main-menu-button {
        font-size: 125%;
        
    }

    .dashboard-button{
        display: none;
    }
}   