@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
}

body {
    background-color: #EEEEEEEE;
    color: black;
    font-family: 'Open Sans',serif;
}

/*
===================
  General classes
===================
*/

.centered {
    width: 50%;
    margin: auto;
    
}

.rounded-box {
    padding: 10%;
    border: solid black 2px;
    border-radius: 25px;
}

