<div class="page-title">
  <h2>Twin Pine Map Editor</h2>
</div>
<div class="main-content">
  <div class="content-container">
    <div class="center canvas-container">
      <div class="arrows">
        <h4>Controls</h4>
        <p>W, A, S, D to pan.</p>
        <p>Click a room to change its shop.</p>
        <img draggable=false src="img/up-arrow.png" id="up-arrow">
        <img draggable=false src="img/left-arrow.png" id="left-arrow">
        <img draggable=false src="img/down-arrow.png" id="down-arrow">
        <img draggable=false src="img/right-arrow.png" id="right-arrow">
        <img draggable=false src="img/zoom-in.png" id="btn-zoom-in">
        <img draggable=false src="img/zoom-out.png" id="btn-zoom-out">
      </div>
      <button data-toggle="modal" data-target="#shop-modal">
        <canvas class="input-canvas" id="map-canvas"></canvas>
      </button>
    </div>
  </div>
</div>

<div class="modal" id = "shop-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select shop to set</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="shop-list">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="popup" class="popup-bg hidden">
  <div class="popup" id="shop-select-popup">
    <img class="popup-head" id="click-off-popup" src="img/cross.png">
    <h2 class="popup-head">Select shop to set:</h2>
    <div class="pad-btm" id="shop-list">
      <div class="flex-even shop-selection">
        <a class="popup-btn" href="input-shops">Add Shops</a>
      </div>
      <div id="remove-shop-btn" class="flex-even shop-selection pad-btm">
        <p>Remove Shop</p>
      </div>
    </div>
  </div>
</div>

<template id="shop-list-section">
  <div class="row">
    <p class = "col"></p>
    <p class = "col"></p>
  </div>
</template>