body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home-container {
    display: grid;
    grid-template-columns: 20% 25% 10% 25% 20%;
    grid-template-rows: 30% auto 30%;
    transform: translateY(-50%);
    margin-top: 20%;
    font-size: 300%;
}


.home-input-button {
    grid-column-start: 2;
    grid-column-end: 3;
}

.home-dashboard-button {
    grid-column-start: 4;
    grid-column-end: 5;
}

.home-button {
    grid-row-end: 3;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: teal;
    text-decoration:none;
    color: white;
}

.center-text {
    text-align: center;
}

.input-main-container {
    width: 90%;
    margin: auto;
}

.input-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}


.input-options {
    grid-column-start: 1;
    grid-column-end: 2;
}

.input-result {
    grid-column-start: 2;
    grid-column-end: 3;
}

.input-header {
    width: 100%;
    background-color: cyan;
}

.repo-info {
    border: 1px solid black;
}

.repo-info:hover {
    border: 2px solid black;
}

.repo-info-items {
    margin: 10px;
}

.repo-name {
    font-size: 150%;
}